<div class="container mt-5">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h3>Compose</h3>
            <div class="form-horizontal">
                <div class="row mb-3">
                    <label for="to" class="col-form-label col-sm-2">To</label>
                    <div class="col-sm-10">
                        <input type="text" id="to" class="form-control"/>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="subject" class="col-form-label col-sm-2">Subject</label>
                    <div class="col-sm-10">
                        <input type="text" id="subject" class="form-control"/>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="body" class="col-form-label col-sm-2">Body</label>
                    <div class="col-sm-10">
                        <textarea id="body" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <h3>Preview</h3>
            <p>To:</p>
            <p class="bg-warning rounded p-1">TODO: show a list of recipients here</p>
            <p>Subject: <span class="bg-warning rounded p-1">TODO: add subject</span></p>
            <p>Body:</p>
            <p class="bg-warning rounded p-1">TODO: add body here (keeping newlines)</p>
        </div>
    </div>
</div>
