<h3 class="mb-5">Terms of Service</h3>

<div>
    <div class="mb-3">
        <input id="terms" type="checkbox" class="form-check-inline">
        <label for="terms" class="form-check-label">Terms of Service</label>
    </div>
    <div class="mb-3">
        <input id="privacy" type="checkbox" class="form-check-inline">
        <label for="privacy" class="form-check-label">Privacy Policy</label>
    </div>
    <div class="mb-3">
        <input id="conditions" type="checkbox" class="form-check-inline">
        <label for="conditions" class="form-check-label">Conditions</label>
    </div>
    <div>
        <button class="btn btn-primary">
            Complete
        </button>
    </div>
</div>
