<div class="row">
    <div class="col-md-6">
        <div>
            <div class="row mb-2">
                <label class="col-4 col-form-label">Password</label>
                <div class="col-8">
                    <input type="password" class="form-control">
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-4 col-form-label">Confirm Password</label>
                <div class="col-8">
                    <input type="password" class="form-control">
                </div>
            </div>
            <div>
                <button class="btn btn-primary">
                    Change Password
                </button>
            </div>
        </div>
    </div>
</div>


